* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(75, 74, 74);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column; /* Ordenar Objetos En Columna */
    width: 100%;
    height: auto;
}

#Banner-1 {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 5px;
    width: 60%;
}

#Menu {
    background-color: rgb(43, 43, 43);
    list-style: none;
    text-align: center;
    width: 60%;
}

#Menu li{
    display: inline-flex; /* Colocar La Lista En Horizontal */
}

#Menu a{
    text-decoration: none; 
    color: white;
    padding: 10px;
    width: 150px;
}

#Menu li:hover{ /*Cambiar Color En Selección*/
    background-color: rgb(27, 186, 186);
    border-radius: 5px;
}

#Informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#Separador-1 {
    background-color: rgb(116, 182, 248);
    border-radius: 6px;
    border: 3px black solid;
    text-align: center;
    width: 95%;
    padding: 20px;
    margin: 8px;
}

#Titulo-1 {
    font-size: 30px;
}

#Contenedor-1 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 60vh;
}

#Texto-1 {
    width: 60%;
}

#Texto-2 {
    width: 60%;
}

#Vision{
    display: flex;
    align-items: center;
    padding: 40px;
}

#Mision{ 
    display: flex;
    align-items: center;
    padding: 40px;
}

.Descripciones {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Imagen Se Adapte Al Espacio */
    margin-left: 15px;
}

.Titulo-2 {
    margin-bottom: 15px;
}

.Parrafo-1 {
    font-size: 18px;
}